
<body>
<h1>New Book Notification</h1>
<p>Hello <%= @user.name %>,</p>
<p>We are excited to inform you about a new book that has been added:</p>
<h2><%= @book.title %></h2>
<p><strong>Author:</strong> <%= @book.author.name %></p>

<p>Sincerely,</p>
<p>Altech Omega Andalan</p>
</body>
