<div id="<%= dom_id author %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><strong>Name:</strong> <%= author.name %></h5>
    <p class="card-text"><strong>Age:</strong> <%= author.age %></p>
    <% if action_name != 'show' %>
      <p class="card-link">
        <%= link_to "Show this author", author, class: "btn btn-primary" %>
      </p>
    <% end %>
  </div>
</div>
