<%= form_with(model: author, class: 'needs-validation', novalidate: true) do |form| %>
  <% if author.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
        <% author.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :dob %>
    <%= form.date_field :dob, class: 'form-control', required: true %>
  </div>

  <div class="form-group mt-4">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
