<h1>Editing author</h1>

<%= render "form", author: @author %>

<br>

<div>
  <%= link_to "Show this author", @author, class: "btn btn-primary" %> |
  <%= link_to "Back to authors", authors_path, class: "btn btn-secondary" %>
</div>
