<div class="d-flex justify-content-between align-items-center">
  <h1 class="mt-4">Authors</h1>
  <%= link_to "New Author", new_author_path, class: "btn btn-primary" %>
</div>

<div id="filters" class="mt-4">
  <form class="form-inline d-flex mb-2" method="get">
    <div class="form-group mr-2">
      <input type="text" class="form-control" name="query" placeholder="Search by name" value="<%= params[:query] %>">
    </div>
    <div class="form-group mr-2">
      <select class="form-control" name="per_page">
        <option value="5" <%= 'selected' if params[:per_page] == '5' %>>5 per page</option>
        <option value="10" <%= 'selected' if params[:per_page] == '10' %>>10 per page</option>
        <option value="20" <%= 'selected' if params[:per_page] == '20' %>>20 per page</option>
        <option value="30" <%= 'selected' if params[:per_page] == '30' %>>30 per page</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Apply Filters</button>
  </form>
</div>

<div id="authors">
  <% @authors.each do |author| %>
    <%= render author %>
    <hr />
  <% end %>
  <div class="digg_pagination">
    <%= will_paginate @authors, params: { query: params[:query], per_page: params[:per_page] } %>
  </div>
</div>
