<div class="container">
  <p class="alert alert-success"><%= notice %></p>

  <%= render @author %>

  <div class="mt-3">
    <%= link_to "Back to authors", authors_path, class: "btn btn-secondary mr-2 mb-2" %>
    <%= link_to "Edit this author", edit_author_path(@author), class: "btn btn-primary mr-2 mb-2" %>
    <%= button_to "Destroy this author", @author, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
</div>
