<div id="<%= dom_id book %>">
  <table class="table table-bordered">
    <tr>
      <th>Title</th>
      <td><%= book.title %></td>
    </tr>
    <tr>
      <th>Author</th>
      <td><%= book.author.name %></td>
    </tr>
    <tr>
      <th>Released Date</th>
      <td><%= book.released_date %></td>
    </tr>
    <tr>
      <th>Genre</th>
      <td><%= book.genre %></td>
    </tr>
    <tr>
      <th>Language</th>
      <td><%= book.language %></td>
    </tr>
  </table>
</div>
