<%= form_with(model: book, class: "form") do |form| %>
  <% if book.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :author_id %>
    <%= form.collection_select :author_id, @authors, :id, :name, { prompt: 'Select an author' }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :released_date %>
    <%= form.date_field :released_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :genre %>
    <%= form.text_field :genre, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :language %>
    <%= form.text_field :language, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
