<div class="d-flex justify-content-between align-items-center">
  <h1 class="mt-4">Books</h1>
  <%= link_to "New Book", new_book_path, class: "btn btn-primary" %>
</div>

<div id="filters" class="mt-4">
  <form class="form-inline d-flex mb-2" method="get">
    <div class="form-group mr-2">
      <input type="text" class="form-control" name="query" placeholder="Search by title or author" value="<%= params[:query] %>">
    </div>
    <div class="form-group mr-2">
      <select class="form-control" name="per_page">
        <option value="5" <%= 'selected' if params[:per_page] == '5' %>>5 per page</option>
        <option value="10" <%= 'selected' if params[:per_page] == '10' %>>10 per page</option>
        <option value="20" <%= 'selected' if params[:per_page] == '20' %>>20 per page</option>
        <option value="30" <%= 'selected' if params[:per_page] == '30' %>>30 per page</option>
      </select>
    </div>
    <div class="form-group mr-2">
      <input type="date" class="form-control" name="min_realised_date" placeholder="Min Release Date" value="<%= params[:min_realised_date] %>">
    </div>
    <div class="form-group mr-2">
      <input type="date" class="form-control" name="max_realised_date" placeholder="Max Release Date" value="<%= params[:max_realised_date] %>">
    </div>
    <div class="form-group mr-2">
      <select class="form-control" name="sort_by">
        <option value="title" <%= 'selected' if params[:sort_by] == 'title' %>>Title</option>
        <option value="released_date" <%= 'selected' if params[:sort_by] == 'released_date' %>>Release Date</option>
        <option value="author_id" <%= 'selected' if params[:sort_by] == 'author_id' %>>Author</option>
      </select>
    </div>
    <div class="form-group mr-2">
      <select class="form-control" name="sort_direction">
        <option value="asc" <%= 'selected' if params[:sort_direction] == 'asc' %>>Ascending</option>
        <option value="desc" <%= 'selected' if params[:sort_direction] == 'desc' %>>Descending</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Apply Filters</button>
  </form>
</div>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book, class: "btn btn-primary" %>
    </p>
    <hr />
  <% end %>
  <div class="digg_pagination">
    <%= will_paginate @books, params: { query: params[:query], per_page: params[:per_page], min_realised_date: params[:min_realised_date], max_realised_date: params[:max_realised_date], sort_by: params[:sort_by], sort_direction: params[:sort_direction] } %>
  </div>
</div>
