<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to "Edit this book", edit_book_path(@book), class: "btn btn-primary mr-2 mb-2" %> |
  <%= link_to "Back to books", books_path, class: "btn btn-secondary mr-2 mb-2" %>

  <%= button_to "Destroy this book", @book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>
