<!DOCTYPE html>
<html>
  <head>
    <title>TestAltech</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light pl-6">
    <a class="navbar-brand mx-5" href="/">Altech</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Authors', authors_path, class: 'nav-link' %>
        </li>
        <li class="nav-item mr-5">
          <%= link_to 'Books', books_path, class: 'nav-link' %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-danger mx-5' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary mx-5' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-success' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div >
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
